<html>
<head>
	<title>Municipality Procurement API</title>
</head>
<body>
	<h1>Welcome to Municipality Procurement API.</h1>
	<h1>Beni nje GET request ne lidhjet e meposhtme.</h1>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/budget-type/<b>int:year</b><p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/procurement-type/<b>int:year</b><p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/company/<b>int:year</b><p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/monthly-summary<p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/piechart/<b>int:year</b><p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/treemap/<b>int:year</b><p>
	<p>http://0.0.0.0:porti/<b>string:komuna</b>/monthly-summary/<b>int:year</b><p>
	
</body>
</html>